{{!-- FORM AREA  --}}
{{#if logged_in}}
<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://w7.pngwing.com/pngs/543/863/png-transparent-super-mario-bros-super-paper-mario-profile-super-mario-bros-hand-monochrome-thumbnail.png" alt="profile picture" style="width:128px;height:128px"/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                        <div class="profile-head">

                            <h5>

                            {{user.username}}

                            </h5>

                        </div>

                    </div>
                    
                </div>
                <div class="row">
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.id}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.username}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Web Developer and Designer</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Favorite type of video game</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>FPS</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>

{{!-- FORM ENDS HERE --}}


{{!-- Carousel STARTS HERE --}}


<h5 style="text-align: center;">My Favorite Games </h5>

    {{#each user.user_favorites as |fav| }}

    <p style="text-align: center;">{{fav.name}}</p>

    {{/each}}


<div class="row justify-space-between">

<div class="card col-12 col-md-3 m-2">
<img src="https://upload.wikimedia.org/wikipedia/en/a/af/Fallout.jpg" alt="Fallout Series">
  <div class="card-body">
    <h4 class="card-title">Fallout Series</h4>
    <a href="game/11" class="btn btn-info " role="button">View Game</a>
  </div>
</div>

<div class="card col-12 col-md-3 m-2">
<img class="d-block w-15" src="https://giantbomb1.cbsistatic.com/uploads/scale_small/15/155745/2255523-cover_depan_gta_1.jpg" alt="Grand Theft Auto">
  <div class="card-body">
    <h4 class="card-title">Grand Theft Auto Series</h4>
    
    <a href="game/12" class="btn btn-info " role="button">View Game</a>
  </div>
</div>

<div class="card col-12 col-md-3 m-2">
    <img class="d-block w-15" src="https://upload.wikimedia.org/wikipedia/en/9/9e/Mortal_Kombat_3_cover.JPG" alt="Mortal Kombat">
  <div class="card-body">
    <h4 class="card-title">Mortal Kombat Series</h4>
    <a href="game/47" class="btn btn-info " role="button">View Game</a>
  </div>
</div>
</div>
  
{{else}}
<h1 id="needlogin">You must be logged in to view a profile!</h1>
{{/if}}


{{!-- Carousel ENDS HERE  --}}
